@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

.top-wrap {
  display:grid;
  align-items: center;
  justify-content: center;
  margin-top:10vh;
  font-family: 'Quicksand', sans-serif;

  @media(min-width:992px) {margin-top:50px;}
  @media(min-width:1200px) {margin-top:20vh;}

  .the-wrap{
    padding:0 10px;
    
    width:calc(340px);
    @media(min-width:400px) {
      width:calc(400px - 20px);
    }

    @media(min-width:576px) {
      // width:500px;
      padding-left: 0px;
      padding-right: 0px;
    }

    @media(min-width:992px) {
      width:400px;
    }

    @media(min-width:1200px) {
      width:500px;
    }
    .title-wrap {
      padding:20px 0;
      display:grid;
      grid-template-columns: 1fr 100px;
      align-items: center;
      margin-bottom:20px;
      
      .thename{
        font-size:18px;
        @media(min-width:400px) {          
          font-size:25px;
        }
        // text-align: center;
      }
    }
    .desc-wrap {
      // text-align: center;

    }
  } // the-wrap end

  .the-skills {
    margin-top:40px;
    padding-left: 10px;
    padding-right: 10px;
    width:calc(100%-20px);

    @media(min-width:400px) {
      width:calc(400px - 20px);
    }

    @media(min-width:576px) {
      // width:500px;
      padding-left: 0px;
      padding-right: 0px;
    }

    @media(min-width:992px) {
      width:400px;
    }
    @media(min-width:1200px) {
      width:500px;
    }
    .skill-row {
      margin-bottom: 5px;
      font-size: 15px;
      width:400px;
    }
    .chip-style {
      margin-right: 10px;
      margin-bottom: 5px;
      font-size:10px;
      &:last-child {
        margin-right: 0;
      }
      @media(min-width:992px) {
        font-size:12px;
      }
    }

    @media(min-width:400px) {
      width:calc(400px - 20px);
    }

    @media(min-width:576px) {
      width:400px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

}


.portfolios-wrap {
  display:grid;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  margin-top:100px;
  margin-bottom:0px;  
  .thewrap {
    width:calc(100%-20px);
    padding-left: 10px;
    padding-right: 10px;
    @media(min-width:400px) {
      width:calc(400px - 20px);
    }

    @media(min-width:576px) {
      padding-left: 0px;
      padding-right: 0px;
    }

    @media(min-width:992px) {
      width:400px;
    }
    @media(min-width:1200px) {
      width:500px;
    }    

    .chip-style {
      margin-right: 5px;
      margin-bottom: 5px;
      font-size:10px;
      &:last-child {
        margin-right: 0;
      }
      @media(min-width:992px) {
        font-size:12px;
        margin-right: 10px;
      }
    }

    .thetitle {
      font-size: 25px;
      margin-bottom:15px;
      @media(min-width:992px) {
      }
      @media(min-width:1200px) {
        font-size:25px;
      }    
    }
    .thecard {margin-bottom:100px;
      cursor: unset;
    }
    .media {
      height:240px;
      object-fit: 'cover';
    }
  }
}


// Email 1
$bg: rgb(16,31,55);
$color: rgb(250, 185, 15);
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;600&display=swap');

.email-thewrap{
  width:280px;
  padding:30px 40px;
  padding-bottom:10px;
  background:$bg;
  color: $color;

  font-family: 'Work Sans', sans-serif;

  font-weight:300;
  overflow:hidden;
  position:relative;
  margin:auto auto;
  margin-bottom:50px;
  @media (min-width:400px) {
    width:320px;
  }
  @media(min-width:600px) {
    width:520px;
  }
  .thedeco1 {
    width:180px; height:180px;
    background:none;
    border-radius: 50%;
    border:50px solid black;
    opacity:0.5;
    position:absolute;
    right:-150px; bottom:-150px;
  }
  .thedeco2 {
    width:10px; height:10px;
    background:none;
    border-radius: 50%;
    border:5px solid black;
    opacity:0.5;
    position:absolute;
    left:15px; top:15px;
  }


  .topgrid {
    display:grid;
    grid-template-columns: 1fr 70px;
    margin-bottom: 20px;
    .line {
      border-bottom:1px solid rgba(255,255,255, 0.5);;
      height:2px;
    }
    .logo {
      margin-top:-13px;
      text-align:center;
      .text-top {font-size:15px; font-weight:400;        
      }
      .text-bottom{font-size:10px; font-weight:400; color:white;
        margin-top:-3px;
      }
    }
  }


  .thegrid {
    display:grid;
    grid-template-columns: 140px 1fr;
    font-weight:300;
    @media(min-width:600px) {
      grid-template-columns: 250px 1fr;
    }
    .profile {
      text-align: center;
      display:grid;
      align-items: center;
      justify-content: center;
      position:relative;
      .deco1 {
        background:$color;
        border-radius: 50%;
        width:50px; height:50px;
        position: absolute;
        bottom:10px; left:20px;
        opacity:0.2;
        z-index: 1;
      }
      .deco2 {
        background:$color;
        border-radius: 50%;
        width:20px; height:20px;
        position: absolute;
        top:30px; right:30px;
        opacity:0.3;
        z-index: 1;

      }
      img {
        width:96px; height:96px;
        border-radius: 50%;
        filter: grayscale(70%);
        border:4px solid white;
        z-index:99;
        object-fit: cover;
      }
    }

    .content {
      padding-left:10px;
      .text1 {
        font-size:18px;
        .white {
          font-weight: 400;
          color:white;
        }
      }
      .text2 {
        color:white;
        font-size:12px; opacity: 0.8;
        margin-bottom: 20px;
      }

      .contact-wrap {
        font-size:12px;
        display:grid;
        grid-template-columns: 35px 1fr;
        margin-bottom: 10px;
        align-items: center;
        color:white;
        opacity:0.8;
        &:last-child{margin-bottom: 0;}
        .icon {
          font-size:13px;
          background:$color;
          color:$bg;
          width:20px; height:20px;
          display:grid;
          align-items: center;
          justify-content: center;
          border-radius: 50%;

        }
      }
    }

  }




  .bottomgrid{
    display:grid;
    grid-template-columns: 70px 1fr;
    margin-top: 10px;
    padding-left:10px;
    .icons {
      color:white;
      .ic {
        margin-right:5px;
        font-size:15px;
        &:last-child {margin-right: 0;}
      }
    }
    .line {
      border-bottom:1px solid rgba(255,255,255, 0.5);
      height:2px;
      margin-top:8px;
      width:calc(100% - 20px);
    }
  }
  .desc {font-size:12px; text-align: center;}
} // Email1 Done

// Email2
@mixin center {
  display:grid;
  justify-content: center;
  align-items: center;
}

.email2-wrap {
  width:350px;
  height: 200px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  -webkit-box-shadow: 5px 4px 10px 4px #CDCDCD; 
  box-shadow: 5px 4px 10px 4px #CDCDCD;
  color:rgb(110,110,110);
  margin:auto auto;
  margin-bottom: 50px;
  @include center;

  .content {
    display:grid;
    grid-template-columns: 92px 1fr;
    grid-gap: 20px;
    img {
      width:92px; height:92px;
      border-radius: 50%;
      object-fit: cover;
    }

    .right {
      @include center;
      .text1 {
        font-size:20px;
        font-weight: 600;
      }
      .text2 {
        font-size:12px;
      }
      .icons {
        margin-top: 10px;
        .thebox {
          background:rgb(110,110,110);
          color:white;
          margin-right:3px;
          width:20px; height:20px;
          display:inline-block;

          .ic {
            font-size:14px;
            margin-left: 3px;
            margin-top:3px;
          }
          .icc {
            font-size:14px;
            margin-left:3px;
            margin-top: 3px;
          }
        }
      }
    }

  }
  .desc {font-size: 12px; text-align: center;}
}
// Email2 DONE



.thebutton {
  margin:auto auto;
  float:right;
}

.footer {
  font-family: 'Quicksand', sans-serif;

  padding: 20px 0;
  background:#ededed;
  display: grid;
  justify-content: center;
  .footer-middle {
    width:calc(100%-20px);
    padding-left: 10px;
    padding-right: 10px;
    @media(min-width:400px) {
      width:calc(400px - 20px);
    }

    @media(min-width:576px) {
      width:500px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

}