@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

.top-wrap {
  display:grid;
  align-items: center;
  justify-content: center;
  margin-top:20vh;
  font-family: 'Quicksand', sans-serif;

  .the-wrap{
    width:calc(100%-20px);
    padding-left: 10px;
    padding-right: 10px;
    @media(min-width:400px) {
      width:calc(400px - 20px);
    }

    @media(min-width:576px) {
      width:500px;
      padding-left: 0px;
      padding-right: 0px;
    }

    .title-wrap {
      padding:20px 0;
      display:grid;
      grid-template-columns: 1fr 100px;
      align-items: center;
      margin-bottom:20px;
      .thename{
        font-size:25px;
        // text-align: center;
      }
    }
    .desc-wrap {
      // text-align: center;

    }
  }

  .the-skills {
    margin-top:40px;
    width:calc(100%-20px);
    padding-left: 10px;
    padding-right: 10px;
    @media(min-width:400px) {
      width:calc(400px - 20px);
    }

    @media(min-width:576px) {
      width:500px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

}


.portfolios-wrap {
  display:grid;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  margin-top:100px;
  margin-bottom:0px;  
  .thewrap {
    width:calc(100%-20px);
    padding-left: 10px;
    padding-right: 10px;
    @media(min-width:400px) {
      width:calc(400px - 20px);
    }

    @media(min-width:576px) {
      width:500px;
      padding-left: 0px;
      padding-right: 0px;
    }
    
    .thetitle {
      font-size: 25px;
      margin-bottom:15px;
    }
    .thecard {margin-bottom:100px;
      cursor: unset;
    }
    .media {
      height:240px;
      object-fit: 'cover';
    }
  }
}

.thebutton {
  margin:auto auto;
  float:right;
}

.footer {
  font-family: 'Quicksand', sans-serif;

  padding: 20px 0;
  background:#ededed;
  display: grid;
  justify-content: center;
  .footer-middle {
    width:calc(100%-20px);
    padding-left: 10px;
    padding-right: 10px;
    @media(min-width:400px) {
      width:calc(400px - 20px);
    }

    @media(min-width:576px) {
      width:500px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

}