@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

.top-wrap {
  display:grid;
  align-items: center;
  justify-content: center;
  margin-top:20vh;
  font-family: 'Quicksand', sans-serif;

  .the-wrap{
    width:500px;
    .title-wrap {
      padding:20px 0;
      display:grid;
      grid-template-columns: 1fr 100px;
      align-items: center;
      margin-bottom:20px;
      .thename{
        font-size:25px;
        // text-align: center;
      }
    }
    .desc-wrap {
      // text-align: center;

    }
  }

  .the-skills {
    width:500px;
    margin-top:40px;
  }

}


.portfolios-wrap {
  display:grid;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  margin-top:100px;
  margin-bottom:0px;  
  .thewrap {
    width:500px;
    
    .thetitle {
      font-size: 25px;
      margin-bottom:15px;
    }
    .thecard {margin-bottom:100px;
      cursor: unset;
    }
    .media {
      height:240px;
      object-fit: 'cover';
    }
  }
}

.footer {
  font-family: 'Quicksand', sans-serif;

  padding: 20px 0;
  background:#ededed;
  display: grid;
  justify-content: center;
  .footer-middle {
    width:500px;
  }

}